-- 11_fix_questions_hierarchy.sql
ALTER TABLE public.questions 
  ADD COLUMN IF NOT EXISTS module_id uuid REFERENCES public.modules(id) ON DELETE CASCADE,
  ADD COLUMN IF NOT EXISTS topic_id uuid REFERENCES public.topics(id) ON DELETE CASCADE;

CREATE INDEX IF NOT EXISTS idx_questions_module_id ON public.questions(module_id);
CREATE INDEX IF NOT EXISTS idx_questions_topic_id ON public.questions(topic_id);
-- 13_align_questions_rls.sql
-- Allow anon to insert/update questions so syncToDB can run
CREATE POLICY "Allow anon insert questions" ON public.questions FOR INSERT TO anon WITH CHECK (true);
CREATE POLICY "Allow anon update questions" ON public.questions FOR UPDATE TO anon USING (true) WITH CHECK (true);
-- 14_disable_rls_questions.sql
ALTER TABLE public.questions DISABLE ROW LEVEL SECURITY;

DO $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_constraint WHERE conname = 'lesson_progress_user_lesson_unique') THEN
    ALTER TABLE lesson_progress ADD CONSTRAINT lesson_progress_user_lesson_unique UNIQUE (user_id, lesson_id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_constraint WHERE conname = 'topic_progress_user_topic_unique') THEN
    ALTER TABLE topic_progress ADD CONSTRAINT topic_progress_user_topic_unique UNIQUE (user_id, topic_id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_constraint WHERE conname = 'user_progress_user_discipline_unique') THEN
    ALTER TABLE user_progress ADD CONSTRAINT user_progress_user_discipline_unique UNIQUE (user_id, discipline_id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_constraint WHERE conname = 'user_flashcard_progress_user_flashcard_unique') THEN
    ALTER TABLE user_flashcard_progress ADD CONSTRAINT user_flashcard_progress_user_flashcard_unique UNIQUE (user_id, flashcard_id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_constraint WHERE conname = 'lab_progress_user_item_unique') THEN
    ALTER TABLE lab_progress ADD CONSTRAINT lab_progress_user_item_unique UNIQUE (user_id, item_id);
  END IF;
END $$;

-- Converter UUIDs para Text nas tabelas onde ainda estao como UUID
-- Isso permite salvar slugs literais como "les_ac_1_1"

-- 1. lesson_progress
ALTER TABLE IF EXISTS lesson_progress DROP CONSTRAINT IF EXISTS lesson_progress_lesson_id_fkey;
ALTER TABLE IF EXISTS lesson_progress ALTER COLUMN lesson_id TYPE text USING lesson_id::text;

-- 2. study_plans
ALTER TABLE IF EXISTS study_plans DROP CONSTRAINT IF EXISTS study_plans_last_lesson_id_fkey;
ALTER TABLE IF EXISTS study_plans ALTER COLUMN last_lesson_id TYPE text USING last_lesson_id::text;

-- 3. question_attempts (caso esteja rodando o schema.sql onde Ã© uuid)
ALTER TABLE IF EXISTS question_attempts DROP CONSTRAINT IF EXISTS question_attempts_question_id_fkey;
ALTER TABLE IF EXISTS question_attempts ALTER COLUMN question_id TYPE text USING question_id::text;

-- 0. Drop view so we can alter column safely
DROP VIEW IF EXISTS public.user_discipline_progress CASCADE;

DO $$
DECLARE
  rec RECORD;
  t text;
BEGIN
  -- 0.1 Drop any foreign keys referencing disciplines.id dynamically
  FOR rec IN
      SELECT tc.table_name, tc.constraint_name
      FROM information_schema.table_constraints AS tc 
      JOIN information_schema.key_column_usage AS kcu ON tc.constraint_name = kcu.constraint_name AND tc.table_schema = kcu.table_schema
      JOIN information_schema.constraint_column_usage AS ccu ON ccu.constraint_name = tc.constraint_name AND ccu.table_schema = tc.table_schema
      WHERE tc.constraint_type = 'FOREIGN KEY' AND ccu.table_name = 'disciplines' AND ccu.column_name = 'id'
  LOOP
      EXECUTE format('ALTER TABLE public.%I DROP CONSTRAINT IF EXISTS %I;', rec.table_name, rec.constraint_name);
  END LOOP;

  -- 0.2 Change UUIDs to TEXT for discipline_id in tables where it exists
  FOREACH t IN ARRAY ARRAY['user_progress', 'study_sessions', 'study_plans', 'flashcards', 'topics', 'questions', 'modules', 'books']
  LOOP
      IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = t AND column_name = 'discipline_id') THEN
          EXECUTE format('ALTER TABLE public.%I ALTER COLUMN discipline_id TYPE text USING discipline_id::text;', t);
      END IF;
  END LOOP;

  -- 0.3 Change disciplines.id to text
  ALTER TABLE public.disciplines ALTER COLUMN id TYPE text USING id::text;

  -- 1. UPDATE child tables
  FOREACH t IN ARRAY ARRAY['user_progress', 'study_sessions', 'study_plans', 'flashcards', 'topics', 'questions', 'modules', 'books']
  LOOP
      IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = t AND column_name = 'discipline_id') THEN
          EXECUTE format('UPDATE public.%I child SET discipline_id = d.slug FROM public.disciplines d WHERE child.discipline_id = d.id;', t);
      END IF;
  END LOOP;

  -- 2. UPDATE parent table
  UPDATE public.disciplines SET id = slug;

END $$;

-- 3. RECREATE VIEW
CREATE OR REPLACE VIEW public.user_discipline_progress AS
SELECT lc.user_id,
    d.id AS discipline_id,
    d.slug AS discipline_slug,
    count(DISTINCT lc.lesson_id) AS lessons_completed,
    ( SELECT count(l_1.id) AS count
           FROM ((public.lessons l_1
             JOIN public.topics t_1 ON ((l_1.topic_id = t_1.id)))
             JOIN public.modules m_1 ON ((t_1.module_id = m_1.id)))
          WHERE (m_1.discipline_id = d.id)) AS total_lessons,
        CASE
            WHEN (( SELECT count(l_1.id) AS count
               FROM ((public.lessons l_1
                 JOIN public.topics t_1 ON ((l_1.topic_id = t_1.id)))
                 JOIN public.modules m_1 ON ((t_1.module_id = m_1.id)))
              WHERE (m_1.discipline_id = d.id)) > 0) THEN round((((count(DISTINCT lc.lesson_id))::numeric / (( SELECT count(l_1.id) AS count
               FROM ((public.lessons l_1
                 JOIN public.topics t_1 ON ((l_1.topic_id = t_1.id)))
                 JOIN public.modules m_1 ON ((t_1.module_id = m_1.id)))
              WHERE (m_1.discipline_id = d.id)))::numeric) * (100)::numeric))
            ELSE (0)::numeric
        END AS progress_percent
   FROM ((((public.lesson_completions lc
     JOIN public.lessons l ON ((lc.lesson_id = l.id)))
     JOIN public.topics t ON ((l.topic_id = t.id)))
     JOIN public.modules m ON ((t.module_id = m.id)))
     JOIN public.disciplines d ON ((m.discipline_id = d.id)))
  GROUP BY lc.user_id, d.id, d.slug;
-- Restore foreign keys dynamically where columns exist
DO $$
DECLARE
  t text;
BEGIN
  FOREACH t IN ARRAY ARRAY['user_progress', 'study_sessions', 'study_plans', 'flashcards', 'topics', 'questions', 'modules', 'books']
  LOOP
      IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = t AND column_name = 'discipline_id') THEN
          EXECUTE format('ALTER TABLE public.%I ADD CONSTRAINT %I_discipline_id_fkey FOREIGN KEY (discipline_id) REFERENCES public.disciplines(id) ON DELETE CASCADE;', t, t);
      END IF;
  END LOOP;
END $$;
